{% extends 'baseFront.html.twig' %}  


{% block body %} 
<body>



  <main id="main" class="main">
 {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
    {#{{ form_widget(form) }}#}
   
    <div class="pagetitle">
      <h1>Ajouter Oeuvre </h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      
      
       <div style="display: flex;align-item: center;justify-content: center">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ajouter Oeuvre</h5>

              <!-- General Form Elements -->
            

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Image</label>
                  <div class="col-sm-10">
                   
                       {{ form_widget(form.image,{'attr':{'class':'form-control'}}) }}
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Titre</label>
                  <div class="col-sm-10">
                    
                    {{ form_widget(form.titreOeuvre,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.titreOeuvre,{'attr':{'class':'text-danger'}}) }}
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Artiste</label>
                  <div class="col-sm-10">
                  {{ form_widget(form.artiste,{'attr':{'class':'form-control'}}) }}
                   {{ form_errors(form.artiste,{'attr':{'class':'text-danger'}}) }}
                  
                  </div>
                </div>
              
                
                
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Prix</label>
                  <div class="col-sm-10">
                    {{ form_widget(form.prixOeuvre,{'attr':{'class':'form-control'}}) }}
                   {{ form_errors(form.prixOeuvre,{'attr':{'class':'text-danger'}}) }}
                  
                  </div>
                </div>
              
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Famille</label>
                  <div class="col-sm-10"> 
                  {{ form_widget(form.famille,{'attr':{'class':'form-control'}}) }}
                 
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Type</label>
                  <div class="col-sm-10"> 
                  {{ form_widget(form.categorieOeuvre,{'attr':{'class':'form-control'}}) }}
                 
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Etat</label>
                  <div class="col-sm-10"> 
                  {{ form_widget(form.etat,{'attr':{'class':'form-control'}}) }}
                 
                  </div>
                </div>

                 {{ form_end(form) }}

              
                
                  <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">
                    
                     <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                 
                </div>
                 </div>
         
      

    </section>


  </main><!-- End #main -->
{% endblock  %} 

  